$color : blue;

.menu {
    display: flex;
    justify-content: flex-end;
}

a {
    margin: 0.5em;
}

body{
    height: 100vh;
    margin: 0;
}

form {
    display: flex;
    flex-direction: column;
    align-content: center;
    text-align:center;
    align-items: center;
    justify-content: center;
    height: 80%;
}

.img{
    background-image: url(gyle.gif);
    background-repeat: no-repeat;
    background-size: contain;
    height: 200px;
    width: 200px;
    display: flex;
    align-content: flex-end;
    justify-content: flex-end;
}

.btns {
    display: flex;
    justify-content: center;
}

input[type="submit"]{
    margin: 0.5em;
    padding: 0.8em;
}

input[name="q"]
{
    align-self: center;
    padding: 0.5em;
    margin: 1em;
    width: 50%;
}

p{
    margin: 0;
    align-self: flex-end;
    color: $color;
    font-size: large;
}

label{
    margin: 0.3em;
    text-transform: uppercase;
}

#advanced > input{
 width: 70%;
 
}

#advanced > input[type="submit"]{
    width: 30%;
    margin-top: 1.5em;
}

#logo{
    font-size: 60px;
    font-weight: 600;
    padding: 1em;
    color: $color;
}
